.categories{
    padding-left: 7.5vw;
    padding-right: 8vw;
    padding-top: 7vw;
}
.heading{
    display: flex;
}
.heading .category{
    color: #26A4FF;
}
.category-grid {
    margin-bottom: 30px;
}
.category-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vw;
}
.inner-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.inside-grid h3{
    font-size: 24px;
}
.inside-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 25%;
    height: 25%;
    margin-right: auto;
    text-align: left;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: 35px;
}

.inside-inside-grid img{
    margin-top: auto;
    margin-bottom: auto;
}
.inside-inside-grid p{
    font-size: 20px;
    font-weight: 100;
    margin-right: 1vw;
    color: #7C8493;
    width: 80%;
}
.inside-grid{
    text-align: left;
    border: 1px solid #D6DDEB;
    padding: 32px;
}
.marketing .inside-head-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4640DE;
    width: 25%;
    height: 25%;
    margin-right: auto;
    text-align: left;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    margin-bottom: -1vw;
}
.inside-grid:hover{
    background-color: #4640DE;
    color: white;
}
.posting{
    display: flex;
    justify-content: space-evenly;
    background-color: #4640DE;
    z-index: -100;
}
.posting div{
    text-align: left;
}

.posting div h2{
    font-size: 48px;
    width: 300px;
    color: white;
    margin-bottom: 1vw;
}
.posting div p{
    margin-bottom: 2vw;
    color: white;
    font-weight: 500;
}
.posting div button{
    color: #4640DE;
    background-color: white;
    border: none;
    font-weight: 700;
}
.posting img{
    margin-top: 68px;
    margin-right: 2vw;
    margin-left: 4vw;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 160px solid transparent;  
    border-bottom: 100px solid white;  
    rotate: 180deg;
    position: relative;
    left: -5px;
}
.down-triangle{
    width: 0;
    height: 0;
    border-left: 160px solid transparent;  
    border-bottom: 100px solid white;  
    rotate: 360deg;
    margin-top: auto;
    z-index: 0;
    right: -5px;
    position: relative;
}

.inside-container {
    display: flex;
    flex-direction: row
}

.category-title {
    font-size: 30px;
}

@media only screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .inside-grid {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h3{
        margin: 0;
    }
    
    .jobs-av {
        margin: 0;
    }

    .inside-img {
        margin-right: 20px;
    }

    .inside-inside-grid {
        margin-right: auto;
    }

    .inside-posting {
        margin-top: 30px;
        padding-bottom: 50px;
    }

    .posting img {
        display: none;
    }

    .posting div button {
        width: 100%;
    }

    .posting div h2 {
        font-size: 30px;
    }

    .inside-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .posting {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .inside-grid {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h3{
        margin: 0;
    }
    
    .jobs-av {
        margin: 0;
    }

    .inside-img {
        margin-right: 20px;
    }

    .inside-inside-grid {
        margin-right: auto;
    }

    .posting img {
        object-fit: contain;
        max-width: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .inside-grid {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h3{
        margin: 0;
    }
    
    .jobs-av {
        margin: 0;
    }

    .inside-img {
        margin-right: 20px;
    }

    .inside-inside-grid {
        margin-right: auto;
    }

    .posting img {
        object-fit: contain;
        max-width: 300px;
    }
}