.fullfooter{
    width: 100%;
    height: 100%;
    background-color: #202430;
    color: white;
    justify-content: space-evenly;
    padding-top: 64px;
    /* padding-left: 2%; */
    /* padding-right: 2%; */
    width: 100%;
    padding-bottom: 3vw;
}
.logo-div h2{
    color: white;
    margin-top: auto;
    margin-left: 2%;
}
.footer{
    background-color: #202430;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0vw;
    padding-bottom: 44px;
    padding-left: 70px;
    padding-right: 70px;
}
.logo-div{
    display: flex;
}
.first{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer p{
    font-weight: 200;
}
.footer h4{
    font-weight: 900;
}
.first p{
    width: 50%;
    color: white;
}
.fourth{
    text-align: left;
}
.fourth input{
    height: 2.5vw;
    width: 14vw;
    border: none;
    padding-left: 10px;
}
.fourth p{
    width: 70%;
    margin-bottom: 10%;
    color: white;
}
.fourth button{
    height: 2.7vw;
    margin-left: 5px;
    border: none;
    background-color: #4640DE;
    color: white;
    font-weight: 700;
}
hr{
    /* margin-bottom: 40vw; */
    color: white;
    margin-left: 3%;
    margin-right: 7%;
}
.footersfooter{
    display: flex;
    justify-content: space-between;
}
.footerspara{
    padding-left: 3vw;
}
.footerspara p{
    color: white;
}
.footersbuttons{
    margin-right: 10px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 7vw;
    display: flex;
    gap: 10px;
}
.fb{
    height: 30px;
    width: 30px;
    background-color: rgba(128, 128, 128, 0.235);
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    border: none;
    opacity: 100%;
}
.fb img{
    opacity: 200%;
}
.second p{
    color: white;
    font-weight: 100;
}
.third p{
    color: white;
    font-weight: 100;
}

.footer-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.second, .third {
    margin-right: 200px;
}

@media only screen and (max-width: 1024px) {
    .footer-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60%;
        justify-content: space-between

    }

    .footer {
        display: block;
        width: 100%;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }

}